pipeline/PP01.json
{
	"name": "PP01",
	"properties": {
		"activities": [
			{
				"name": "Lookup Activity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "newnew",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Activity",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Activity').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "x",
										"value": {
											"type": "String"
										}
									},
									{
										"key": "y",
										"value": {
											"type": "String"
										}
									}
								],
								"setSystemVariable": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"x": {
				"type": "String"
			},
			"y": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-27T09:37:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}